<%- include("../../views/partials/admin/header.ejs") %>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-60">
            <form method="post" action="/admin/editcategory/<%= category._id %>">
                <div class="d-grid text-end mt-30 col-md-5">
                    <button class="btn btn-primary" type="submit">Update category</button>
                </div>
                <div class="mb-4 mt-30">
                    <label for="product_name" class="form-label">Name</label>
                    <input type="text" name="name" value="" class="form-control border" />
                </div>
                
                <div class="mb-4">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control border"></textarea>
                </div>
                <%if(message){%>
                  <p><%=message%></p>
                <%}%>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('editCategoryForm').addEventListener('submit', function (event) {
        
        const categoryName = document.querySelector('input[name="categoryName"]').value.trim();
        const description = document.querySelector('textarea[name="description"]').value.trim();

        // Clear any previous error messages
        document.getElementById('categoryNameError').innerText = '';
        document.getElementById('descriptionError').innerText = '';

        let hasError = false;

        if (!categoryName) {
            document.getElementById('categoryNameError').innerText = 'Category name is required.';
            hasError = true;
        }

        if (!description) {
            document.getElementById('descriptionError').innerText = 'Description is required.';
            hasError = true;
        }

        if (hasError) {
            event.preventDefault();
        }
    });
</script>